body {
	max-width: 98%;
	margin-left: 20px;
}
.imgHomeAds {
	max-width: 100%;
}
.form {
	border: 1px solid black;
	padding: 24px;
	border-radius: 15px;
}
.register {
	height: 440px;
}
.colRegister {
	margin-top: 74px;
}
