<div class="row">
	<div class="col-sm-8">
		<div class="container">
			<ul>
				<li ng-repeat="ad in data.ads">
					<div class="row">
						<h2>{{ad.title}}</h2>
						<span>{{ad.date | date:'d-MMM-yyyy'}}</span>
						<div class="col-sm-3"><img class="imgHomeAds" ng-src="{{ad.imageDataUrl}}" /></div>
						<div class="col-sm-5">
							<div class="panel panel-default">
								<div class="panel-footer">
									<span>{{ad.text}}</span>
								</div>
								<div class="panel-footer"><strong>Name: </strong>{{ad.ownerName}}</div>
								<div class="panel-footer"><strong>Email: </strong>{{ad.ownerEmail}}</div>
								<div class="panel-footer"><strong>Tel: </strong>{{ad.ownerPhone}}</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-3">
		<h3>Categories</h3>
			<ul class="list-group">
				<li class="list-group-item">All</li>
				<li class="list-group-item" ng-repeat="cat in categories"><a href="{{cat.id}}">{{cat.name}}</a></li>
			</ul>
			<!-- <option selected value="">All</option>
			<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option> -->
		<h3>Towns</h3>	
			<ul class="list-group">
				<li class="list-group-item">All</li>
				<li class="list-group-item" ng-repeat="town in towns"><a href="{{town.id}}">{{town.name}}</a></li>
			</ul>
	</div>
</div>		


		


<!-- <div class="col-md-3">
	Category:
					<select ng-model="filterByTown.categoryId">
						<option selected value="">All</option>
						<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
					</select>
					Town:
					<select ng-model="filterBy.townId">
					<option selected value="">All</option>
						<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
					</select>
</div> -->